@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-dark-bg text-dark-text antialiased;
  }

  ::selection {
    background: rgba(0, 255, 136, 0.15);
  }
}

@layer components {
  .prose a {
    @apply text-primary-500 underline;
  }
}

::-webkit-scrollbar       { width: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #1a1a26; border-radius: 9999px; }
::-webkit-scrollbar-thumb:hover { background: #2a2a36; }
